* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;

}

body {
    background-color: #f4f4f4;
    padding-bottom: 50px;

}

.header-content {
    display: flex;
    background-color: #232f3e;
    color: white;
    padding: 40px 20px;
    align-items:  center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
p {
    text-decoration: solid;
    font: 400;
    color: white;
    padding-bottom: 2%;
    font-size: 32px;
}
.highlight {
    color:#ff9900;
    font-weight: bold;
}
   
h1 {
    font-weight: bold;
    padding-top: 10px;
    color:#ff9900;
}
.search-box {
    justify-content:space-between;
    width: 400px;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid;
    background-color: #f4f4f4;
    height: 30px;


    
}
.search-box input {
    background: transparent;
    width: 80%;
    border: none;
    outline: none;
}



#searchBtn {
    border-radius: 25px;
    background-color: #ff9900;
    width: 50px;
    cursor: pointer;
    color: white;

}



#searchbtn:hover {
    background-color: #f3a847;
    
}

.container {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap:20px;
    padding: 50px;
    max-width: 1200px;
    margin: auto;
}

.card {
    background-color: #f4f4f4; 
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
}
.card-hover {
    transform: translateY(-8px);


}
.card img {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    object-fit: contain;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 1.2rem;
    margin-top: auto;
}
.mood-section {
    padding: 20px 5%;
    background-color: #fcfcfc;
}
